{% extends '../base.html' %}

{% block baslik %}
<h1>İletisim Sayfası</h1>
<p>İstteklerinizi,websitesini beğenip, beğenmemenizi yazabilrsiniz</p>
{% endblock baslik %}



{% block icerik %}              
<fb:comments width="500"></fb:comments>

    <script>
      FB.Event.subscribe('comments.add', function(resp) {
        Log.info('Comment was added', resp);
      });
    </script>


kodunu ekliyoruz. width="665" özelliğini tasarımınıza göre değiştirebilirsiniz.


<body>

html tagının hemen altına da


<div id="fb-root"></div>

<script type="text/javascript">
    window.fbAsyncInit = function() {
        FB.init({appId: 'ornekapplicationkodu', status: true, cookie: true,
             xfbml: true});
    };
    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/tr_TR/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
</script>
{% endblock icerik %}            