{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>korkmak</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static '/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">korku oyunları</a>
				<a class="logo" href="iletisim.html">yorum</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'anasayfa' %}">Ana Sayfa</a></li>
					<li><a href="{% url 'iletisimListele' %}">İletişim</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>korku oyunları</h1>
					<p>korku<br/>
					for download outlast <a href="https://saglamindir.net/outlast-full-turkce-indir-download"</a> steam.powered and released under the Creative Commons License.</p>
				</div>
				<video autoplay loop muted playsinline src="{% static 'images/Dead by Daylight - Official Ghost Face Reveal Trailer.mp4' %}"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>korku oyunu</h2>
						<p>other download links.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="https://saglamindir.net/amnesia-the-dark-descent-full-turkce-indir-download" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>saglamindir.com</h3>
								</header>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="https://saglamindir.net/resident-evil-7-indirr" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>saglamindir.com</h3>
								</header>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="https://saglamindir.net/doom-3-indir-download" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>saglamindir.com</h3>
								</header>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="https://saglamindir.net/alien-isolation-indir" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>saglamindir.com</h3>
								</header>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="https://saglamindir.net/dishonored-indir" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>saglamindir.com</h3>
								</header>
		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>