{% extends "myproducts/base.html" %} {% block title %} HOMEPAGE {% endblock title %} {%block content%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">
            <center>PRODUCT AUTHENTICATION WEB</center>
        </h1>
        <p class="lead">
            <center>Welcome to my Website</center>
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="{% url 'create' %}" role="button">ADD YOUR PRODUCT</a>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">regnumber</th>
                <th scope="col">product</th>
                <th scope="col">date</th>
                <th scope="col">favorite_lenses</th>
                <th scope="col">edit</th>
            </tr>
        </thead>
        <tbody>
            {% for products in myproducts %}
            <tr>
                <td>{{products.regnumber}}</td>
                <td>{{products.product}}</td>
                <td>{{products.date}}</td>
                <td>{{products.favorite_lenses}}</td>
                <td>{{products.edit}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{%endblock content%}